@model IEnumerable<HRMmanagement.Models.PerformanceEvaluation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminManagement/Views/Shared/Admin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EvaluationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelfScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeerScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evaluator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EvaluationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelfScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeerScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evaluator.EmployeeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EvaluationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EvaluationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EvaluationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
