@model HRMmanagement.Models.Employee

@{
    ViewData["Title"] = "Chi Tiết Nhân Viên";
    Layout = "~/Areas/AdminManagement/Views/Shared/Admin.cshtml";
}

<h1 style="color: #213d86;"><i class="fas fa-info-circle"></i> Chi Tiết Nhân Viên</h1>

<div>
    <h4>Thông Tin Nhân Viên</h4>
    <hr style="border-top: 2px solid #00adef;" />
    <dl class="row">
        <dt class="col-sm-2" style="color: #213d86;"><i class="fas fa-id-card"></i> @Html.DisplayNameFor(model => model.FullName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.FullName)</dd>
        <dt class="col-sm-2" style="color: #213d86;"><i class="fas fa-birthday-cake"></i> @Html.DisplayNameFor(model => model.DateOfBirth)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DateOfBirth)</dd>
        <dt class="col-sm-2" style="color: #213d86;"><i class="fas fa-venus-mars"></i> @Html.DisplayNameFor(model => model.Gender)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Gender)</dd>
        <dt class="col-sm-2" style="color: #213d86;"><i class="fas fa-map-marker-alt"></i> @Html.DisplayNameFor(model => model.Address)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Address)</dd>
        <dt class="col-sm-2" style="color: #213d86;"><i class="fas fa-phone"></i> @Html.DisplayNameFor(model => model.Phone)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Phone)</dd>
        <dt class="col-sm-2" style="color: #213d86;"><i class="fas fa-envelope"></i> @Html.DisplayNameFor(model => model.Email)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Email)</dd>
        <dt class="col-sm-2" style="color: #213d86;"><i class="fas fa-money-bill-wave"></i> @Html.DisplayNameFor(model => model.BaseSalary)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.BaseSalary)</dd>
        <dt class="col-sm-2" style="color: #213d86;"><i class="fas fa-calendar-check"></i> @Html.DisplayNameFor(model => model.ContractStartDate)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ContractStartDate)</dd>
        <dt class="col-sm-2" style="color: #213d86;"><i class="fas fa-calendar-times"></i> @Html.DisplayNameFor(model => model.ContractEndDate)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ContractEndDate)</dd>
        <dt class="col-sm-2" style="color: #213d86;"><i class="fas fa-calendar-alt"></i> @Html.DisplayNameFor(model => model.CreatedAt)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CreatedAt)</dd>
        <dt class="col-sm-2" style="color: #213d86;"><i class="fas fa-qrcode"></i> @Html.DisplayNameFor(model => model.QrcodeData)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.QrcodeData)</dd>
        <dt class="col-sm-2" style="color: #213d86;"><i class="fas fa-building"></i> @Html.DisplayNameFor(model => model.Department)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Department.DepartmentName)</dd>
        <dt class="col-sm-2" style="color: #213d86;"><i class="fas fa-briefcase"></i> @Html.DisplayNameFor(model => model.Position)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Position.PositionName)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmployeeId" style="color: #00adef; text-decoration: none;"><i class="fas fa-edit"></i> Sửa</a> |
    <a asp-action="Index" style="color: #00adef; text-decoration: none;"><i class="fas fa-arrow-left"></i> Trở lại danh sách</a>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />