@model IEnumerable<HRMmanagement.Models.Employee>

@{
    ViewData["Title"] = "Quản Lý Nhân Viên";
    Layout = "~/Areas/AdminManagement/Views/Shared/Admin.cshtml";
}

<h1 style="color: #213d86;"><i class="fas fa-users"></i> Quản Lý Nhân Viên</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" style="background-color: #00adef; border-color: #00adef;">
        <i class="fas fa-plus"></i> Thêm Mới
    </a>
</p>
<table class="table">
    <thead style="background-color: #f8f9fa;">
        <tr style="color: #213d86;">
            <th> @Html.DisplayNameFor(model => model.FullName)</th>
            <th><i class="fas fa-id-card"></i>Thông tin</th>
            <th><i class="fas fa-money-bill-wave"></i> @Html.DisplayNameFor(model => model.BaseSalary)</th>
            <th><i class="fas fa-calendar-check"></i> @Html.DisplayNameFor(model => model.ContractStartDate)</th>
            <th><i class="fas fa-calendar-times"></i> @Html.DisplayNameFor(model => model.ContractEndDate)</th>
            <th><i class="fas fa-calendar-alt"></i> @Html.DisplayNameFor(model => model.CreatedAt)</th>
            <th><i class="fas fa-qrcode"></i> @Html.DisplayNameFor(model => model.QrcodeData)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>
                    <i class="fas fa-birthday-cake"></i>: @Html.DisplayFor(modelItem => item.DateOfBirth)<br />
                    <i class="fas fa-venus-mars"></i>: @Html.DisplayFor(modelItem => item.Gender)<br />
                    <i class="fas fa-map-marker-alt"></i>: @Html.DisplayFor(modelItem => item.Address)<br />
                    <i class="fas fa-phone"></i>: @Html.DisplayFor(modelItem => item.Phone)<br />
                    <i class="fas fa-envelope"></i>: @Html.DisplayFor(modelItem => item.Email)<br />
                    @Html.DisplayNameFor(model => model.Position.PositionName): @Html.DisplayFor(modelItem => item.Position.PositionName)<br />
                    @Html.DisplayNameFor(model => model.Department.DepartmentName): @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>@Html.DisplayFor(modelItem => item.BaseSalary)</td>
                <td>@Html.DisplayFor(modelItem => item.ContractStartDate)</td>
                <td>@Html.DisplayFor(modelItem => item.ContractEndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.QrcodeData))
                    {
                        <img src="@item.QrcodeData" alt="Mã QR" style="max-width:50px; max-height:50px;" />
                    }
                    else
                    {
                        <span>Không có mã QR</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-sm btn-outline-primary" style="color: #213d86; border-color: #00adef;">
                        <i class="fas fa-edit"></i> Sửa
                    </a>
                    <a asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-sm btn-outline-info" style="color: #213d86; border-color: #00adef;">
                        <i class="fas fa-info-circle"></i> Chi Tiết
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-sm btn-outline-danger" style="color: #213d86; border-color: #f7941c;">
                        <i class="fas fa-trash-alt"></i> Xóa
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />